:root {
    --primary: skyblue;
    --secondary: beige;
}

body {
    background-color: white;
    margin: 0 auto;
}

#title {
    margin: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: var(--secondary);
    font-size: 15px;
    width: 100px;
    height: 40px;
}

p {
    margin: 0 0 5px 0;
    font-size: 20px;
}

input {
    margin: 7px;
}

canvas {
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/obpI6DO.jpg');
    background-repeat: no-repeat;
    background-attachment: 100% 100%;
    background-size: cover;
    border: black solid 1px;
    border-radius: 10px;
}

#start {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameScreen {
    max-width: 50em;
    height: 45em;;
    background-image: url("https://i.imgur.com/pBB2yD4.gif");
    background-repeat: no-repeat;
    background-attachment: 100% 100%;
    background-size: cover;
    margin: 30px auto;
    padding: 1em;
    text-align: center;
    grid-gap: 1em;
    border: 1em solid black;
}

#instructions {
    position: absolute;
    padding: 1em;
    border: 1em solid black;
    font-size: 5px;
    width: 300px;
    bottom: 24vh;
    left: 23vw;
}

.healthTracker {
    width: 15em;
    height: 3em;
}

.healthBar {
    position: relative;
    z-index: 1;
}

.moves {
    margin: 60px;
}

#startScreen {
    display: show;
}

#difficultyBox {
    border: 0.2em solid black;
    padding: 1em;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%)
}

#fightStage {
    display: none; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1.5fr;
    grid-template-areas: "player enemy"
                         "main main"
                         "textBox textBox"
}

#player, #enemy, main, #textBox {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

progress {
    display: inline-block;
    text-align: center;
    height: 3em;
    width: 100%;
    position: relative;
    color: green;
}

progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    position: absolute;
    left:0;
    right:0;
}

progress::-moz-progress-bar
{
    background: red;
}

#playAgain {
    position: relative;
    margin: 50px;
    bottom: 10px;
}

#results {
    font-size: 50px;
    font-weight: bold;
}

#player {
    grid-area: player; 
    border-radius: 10px;
    border: solid black 1px;
}

#enemy {
    grid-area: enemy;
    border-radius: 10px;
    border: solid black 1px;
}

main {
    grid-area: main;
}

#textBox {
    grid-area: textBox;
    border-radius: 10px;
    border: solid black 1px;
}
